<ion-header>
  <ion-toolbar>
    <ion-title>gatoDetalle</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Id:</ion-label>
    <ion-input value={{id}} disabled></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nombre:</ion-label>
    <ion-input value="{{document.data.nombre}}" [(ngModel)]="gatoEditando.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Color:</ion-label>
    <ion-input value="{{document.data.color}}" [(ngModel)]="gatoEditando.color"></ion-input>
  </ion-item>

  <ion-item *ngIf="id!='nuevo'">
    <ion-button (click)="clicBotonBorrar()">Borrar Gato</ion-button>
    <ion-button (click)="clicBotonModificar()">Modificar Gato</ion-button>
  </ion-item>
  <ion-item *ngIf="id=='nuevo'">
    <ion-button (click)="clicBotonInsertar()">Añadir Gato</ion-button>
  </ion-item>
</ion-content>
