<ion-header>
  <ion-toolbar>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>¿Que es esta aplicacion?</h1>
  <p>Esta aplicacion es una base de datos de gatos, 
    puedes almacenar una foto suya como de su nombre y color de pelo.
  </p>
  <h1>¿Cual es la finalidad?</h1>
  <p>La finalidad es la de hacer fotos a todos los gatos que encuentres y ponerles nombre</p>
  <h1>¿Por qué tiene un mapa?</h1>
  <p>Tiene un mapa para que puedas marcar los lugares de todas las tiendas de mascostas</p>
</ion-content>
