<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<h1>LISTA DE GATOS</h1>

<ion-grid>
  <ion-row>
      <ion-col *ngFor="let documentGato of arrayColeccionGatos; let i = index" [attr.data-index]="i" (click)="selecGato(documentGato)" size-xl="2" size-lg="4" size-md="6" size-sm="6" size-xs="12">
        <ion-card style="background-color: white;">
          <ion-card-content>
            <h1 style="display:inline-block;">{{documentGato.data.nombre}}</h1>
            <h2>{{documentGato.data.color}}</h2>
            <div style="display: flex; align-items: center;justify-content: center;">
              <img src="https://thiscatdoesnotexist.com/" alt="">
          </div>
            
        </ion-card-content>
      </ion-card>
    </ion-col>
      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button>
          <ion-icon name="add" (click)="segundaPagina()"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  </ion-row>
</ion-grid>


