<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<h1>LISTA DE GATOS</h1>

<ion-grid>
  <ion-row>
      <ion-col *ngFor="let documentGato of arrayColeccionGatos " (click)="selecGato(documentGato)" size-xl="6" size-lg="auto" size-md="auto" size-sm="auto" size-xs="6">
        <ion-card style="background-color: white;">
          <ion-card-content>
            <h1>{{documentGato.data.nombre}}</h1>
            <h2>{{documentGato.data.color}}</h2>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-content padding>
  <ion-item>
    <ion-label>Nombre:</ion-label>
    <ion-input [(ngModel)]="gatoEditando.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Color:</ion-label>
    <ion-input [(ngModel)]="gatoEditando.color"></ion-input>
  </ion-item>
  <ion-button (click)="clicBotonInsertar()">Añadir Gato</ion-button>
  <ion-button (click)="clicBotonBorrar()">Borrar Gato</ion-button>
  <ion-button (click)="clicBotonModificar()">Modificar Gato</ion-button>
</ion-content>

